# Ignora los archivos de sistema
.DS_Store

# Ignora los directorios de compilación
/iPhone/Expresso/build/*

# Ignora los archivos de proyecto referentes a mi usuario
*.pbxuser
*.perspectivev3
*.mode1v3
