body{
	background: url(img/background.png);
}

.content-div{
	margin: 0 auto;
	width: 960px;
}
.header{
	background: url(img/content-div.png) no-repeat;
	width: 100%;
	height: 441px;
}

.form{
	width: 520px;
	margin: 0 auto;
}
.field{
	margin-top: 10px;
}

div ul{
	width: 450px;
	margin: 0 auto;
}
.left{
	float: left;
}
.right{
	float: right;
}
.clear{
	clear: both;
}

a{
	text-decoration: none;
}
.boto{
	width: 210px;
	height: 44px;
	background: url(img/boto.png) no-repeat;
	text-decoration: none;
	color:#311d04;
    font-family: "Helvetica";
    font-weight:bold;
    font-size:1.1em;    
    text-shadow: rgba(255,255,255,0.5) 0 1px;
    text-align: center;
    padding-top: 11px;
}



input[type="text"],input[type="password"]{
	width: 248px;
	height: 42px;
	background: url(img/text-input.png) no-repeat top left;
	border: none;
	font-size: 1.2em;
	color: #4a6a53;
	padding-left: 5px;
}
input[type="submit"]{
	border: none;
	width: 210px;
	height: 44px;
	background: url(img/boto.png) no-repeat;
    color:#311d04;
    font-family: "Helvetica";
    font-weight:bold;
    font-size:1.1em;    
    text-shadow: rgba(255,255,255,0.5) 0 1px;
}
/*=============CREDITS=============*/
.compraCredtis{
    font-family: "Helvetica,Arial";

}
.compraCredits .credits{
	width:300px;
	color: #023b2b;
	margin:20px auto;
}
.compraCredits .form{
	margin:20px auto;
	width:580px;
}
.compraCredits h1{
	color:#023b2b;
	font-size:20px;
    font-weight: bold;
	width:100%;
	text-align: center;
    text-shadow: rgba(255,255,255,0.3) 0 1px;
    margin-bottom:5px;
}
.compraCredits .credits .saldo{	
	font-family: "Helvetica Neue";
	float:right;
	font-size:70px;
	padding-top:50px;
    text-shadow: rgba(255,255,255,0.3) 0 1px;
	
}
.compraCredits .credits img{
	float:right;
	margin-top:15px;
	margin-left:20px;
}
.compraCredits .field input[type="text"]{
	display:block;	
	margin-left:60px;
}
.moneda{
	color: #0f231d;
}